SA_PASSWORD=YourStrong!Passw0rd
SQLSERVER_PORT=1433
SQLSERVER_HOST=localhost
SQLSERVER_USER=sa
SQLSERVER_DATABASE=SeguroDB
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ENDPOINT=http://localhost:9000
MINIO_REGION=us-east-1
LANDING_BUCKET=landing-zone
BRONZE_BUCKET=bronze
SPARK_MASTER=local[*]
JUPYTER_PORT=8888
